.dock {
  margin-bottom: calcPx(8);
  position: fixed;
  bottom: 0;
  left: 50%;
  height: calcPx(120);
  transform: translateX(-50%);
  border: 1px solid #87879342;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  transition: all 1s ease;
  z-index: 9999;
  ul {
    position: relative;
    top: 100%;
    padding: 0 calcPx(12) calcPx(20) calcPx(12);
    display: flex;
    justify-self: center;
    align-items: baseline;
    border-radius: calcPx(30);
    transform: translateY(calc(-100% - calcPx(6)));
    .test-icon {
      --scale: 1;
      width: calc(calcPx(80) * var(--scale));
      height: calc(calcPx(80) * var(--scale));
      margin-left:calc(calcPx(6) * var(--scale));
      margin-right:calc(calcPx(6) * var(--scale));
      border-radius: 9px;
      background-position: center;
      background-size: contain;
      transition: all .1s ease;
      @include btn-active-status;
    }
  }
}
