.topbar {
  display: flex;
  align-items: center;
  width: 100vw;
  height: calcPx(48);
  background: rgba(255, 255, 255, 0.7);
  font-size: calcPx(26);
  backdrop-filter: blur(30px);
  .logo {
    margin: 0 calcPx(34);
    margin-top: -2px;
    font-size: calcPx(38);
  }
  .title {
    margin-right: calcPx(60);
    font-weight: 900;
  }
  .options {
    display: flex;
    gap: calcPx(60);
    li {
      list-style: none;
    }
  }
  .control-btns {
    width: calcPx(355);
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    span{
        position: relative;
        right: calcPx(-30);
        line-height: calcPx(32);
        font-size: calcPx(24);
    }
    button {
      width: calcPx(32);
      height: calcPx(32);
      border: none;
    }
    .battery {
      width: calcPx(50);
      height: calcPx(32);
      background: url(../../../assets/images/icons/battery.100.bolt@2x.png)
        no-repeat center/contain;
    }
    .wifi {
      background: url(../../../assets/images/icons/wifi.png) no-repeat
        center/contain;
    }
    .control-center {
      background: url(../../../assets/images/icons/control_center.png) no-repeat
        center/contain;
      filter: contrast(100%);
    }
    .siri {
      margin-top: 0px;

      background: url(../../../assets/images/icons/siri.png) no-repeat
        center/contain;
    }
  }
  .date {
    width: calcPx(270);
    margin-right: calcPx(14);
    margin-left: calcPx(32);
    display: flex;
    font-size: calcPx(26);

    .daymonth {
      letter-spacing: calcPx(2);
    }
    .week {
      margin-left: calcPx(6);
    }
    .time {
      margin-left: calcPx(16);
    }
  }
}
