.topbar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: calcPx(48);
    background: rgba(255,255,255,.8);
    font-size: calcPx(28);

    .logo{
        margin: 0 calcPx(34);
        margin-top: -2px;
        font-size: calcPx(38)
    }
    .title{
        margin-right: calcPx(60);
        font-weight: 900;
    }
    .options{
        display: flex;
        gap: calcPx(60);
        li{
            list-style: none;
        }
    }
}