$desktopBg: 'lightmode-bg.jpg';

.darkmode {
    $desktopBg: '../../assets/images/others/darkmode-bg.jpg';
}

.desktop{
    width:100vw;
    height: 100vh;
    background: url('../../assets/images/others/' + #{$desktopBg}) no-repeat center/cover
}

